/* --- QUOTATION --- */

.quotation blockquote {
	align-items: center;
	display: flex;
	flex-direction: row;
	font-family: var(--fio-sys-typography-family-primary);
	font-size: var(--fio-sys-typography-size-0);
	font-weight: 400;
	line-height: var(--fio-sys-typography-height-125);
	margin: 0;
	padding: var(--fio-sys-size-padding-xl);
}
.quotation .card {
	border-color: var(--fio-sys-color-primary-50);
	background-color: var(--fio-sys-color-primary-90);
}

.quotation blockquote span.material-symbols-rounded {
	font-variation-settings: "FILL" 1;
	color: var(--fio-sys-color-primary-50);
	font-size: 3rem;
	padding: 0 30px 0 0;
}
.quotation blockquote .quotation-body {
	/* border-left: 2px solid var(--fio-sys-color-primary-50); */
	border-left:2px solid #D06719;
	font-family: var(--fio-sys-typography-family-primary);
	padding-left: 30px;
}
.quotation blockquote .quotation-body p {
	color: var(--fio-sys-color-primary-30);
    font-family: var(--fio-sys-typography-family-primary);
    font-size: var(--fio-sys-typography-size-1);
    font-style: italic;
}
.quotation blockquote .quotation-autor {
	color: var(--fio-sys-color-primary-30);
	font-family: var(--fio-sys-typography-family-primary);
	font-size: var(--fio-sys-typography-size--1);
	float: right;
}
