/* CSS INFO MODULO 5 - AULA 2 */

#aula2-info1 .st0,
#aula2-info1 .st1,
#aula2-info1 .st2,
#aula2-info1 .st3,
#aula2-info1 .st4 {
	fill: none;
}

#aula2-info1 .st1 {
	stroke-dasharray: 5.9 5.9;
}

#aula2-info1 .st1,
#aula2-info1 .st2,
#aula2-info1 .st3,
#aula2-info1 .st4 {
	stroke-miterlimit: 10;
}

#aula2-info1 .st1,
#aula2-info1 .st2,
#aula2-info1 .st4 {
	stroke: #919191;
	stroke-width: 2px;
}

#aula2-info1 .st2 {
	stroke-dasharray: 5.9 5.9;
}

#aula2-info1 .st5 {
	fill: url(#linear-gradient2);
}

#aula2-info1 .st6 {
	fill: url(#linear-gradient1);
}

#aula2-info1 .st7 {
	fill: #c83618;
}

#aula2-info1 .st8 {
	mix-blend-mode: multiply;
	opacity: .2;
}

#aula2-info1 .st9 {
	fill: #91b9ca;
}

#aula2-info1 .st10 {
	fill: #6496bc;
}

#aula2-info1 .st11 {
	fill: #ff676e;
}

#aula2-info1 .st12 {
	fill: #f02022;
}

#aula2-info1 .st13 {
	fill: #2f8680;
}

#aula2-info1 .st14 {
	fill: #516154;
}

#aula2-info1 .st15 {
	fill: #ffcf6b;
}

#aula2-info1 .st16 {
	isolation: isolate;
}

#aula2-info1 .st17 {
	fill: #950407;
}

#aula2-info1 .st18 {
	clip-path: url(#clippath-1);
}

#aula2-info1 .st19 {
	clip-path: url(#clippath-4);
}

#aula2-info1 .st20 {
	clip-path: url(#clippath-6);
}

#aula2-info1 .st21 {
	clip-path: url(#clippath-5);
}

#aula2-info1 .st22 {
	fill: url(#linear-gradient);
	opacity: .5;
}

#aula2-info1 .st23 {
	fill: #444f59;
}

#aula2-info1 .st24,
#aula2-info1 .st25 {
	fill: #fff;
}

#aula2-info1 .st26 {
	fill: #c4060b;
}

#aula2-info1 .st25 {
	font-family: Montserrat-ExtraBold, Montserrat;
	font-size: 47px;
	font-weight: 700;
}

#aula2-info1 .st27 {
	fill: #d7d396;
}

#aula2-info1 .st28 {
	fill: #e87e75;
}

#aula2-info1 .st29 {
	fill: #ffaeb0;
}

#aula2-info1 .st30 {
	opacity: .7;
}

#aula2-info1 .st31 {
	fill: #ff947d;
}

#aula2-info1 .st32 {
	fill: #ff5327;
}

#aula2-info1 .st3 {
	stroke: #6496bc;
	stroke-width: 9px;
}

#aula2-info1 .st33 {
	fill: #d15952;
}

#aula2-info1 .st34 {
	fill: #ffd6d8;
}

#aula2-info1 .st35 {
	fill: #eb6702;
}

#aula2-info1 .st36 {
	clip-path: url(#clippath);
}

#aula2-info1 .st37 {
	fill: #c6352e;
}

#aula2-info1 .st38 {
	fill: #ffa22d;
}

#aula2-info1 .bts {
	animation: move 1s ease-out infinite alternate;
}

#aula2-info1 .bts:hover {
	cursor: pointer;
	transform: translateY(-5px);
	filter: drop-shadow(0 4px 4px #ababab);
}

#aula2-info1 #bt1:hover circle {
	fill: #839887;
}

#aula2-info1 #bt2:hover circle {
	fill: #7bb6e3;
}

#aula2-info1 #bt3:hover circle {
	fill: #f29955;
}

@keyframes move {
	from {
		transform: translateY(0);
		filter: drop-shadow(0 1px 1px rgba(11, 41, 39, 0.5));
	}

	to {
		transform: translateY(-20px);
		filter: drop-shadow(0 10px 4px rgba(11, 41, 39, 0.5));
	}
}